<template>
<div>
    
  <!-- Sidebar -->

  <div class="asoy">
    <div class="mark">
      <h3><img src="https://i.ibb.co/fn3q5mY/logo.png" alt="" height="170" width="200"></h3>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="btnopen">Upload
        Music</button>
      <div class="container mt-5">

        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Upload Music</h5>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <div id="uploading">upload your files here</div>
                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="create">Upload</button>
                <button type="submit" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#">All Songs</a>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2" id="btnopen">Create
        Playlist</button>
        <div class="container mt-5">
          <div class="modal" id="myModal2">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create Playlist</h5>
                </div>
                <div class="modal-body2">
                  <form>
                    <div class="mb-3">
                      <input type="email" class="form-control">
                    </div>
  
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" id="create">Create</button>
                  <button type="submit" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <a href="#">Playlist 1</a>
      <a href="#">Playlist 2</a>
      <a href="#">Playlist 3</a>
    </div>
 
 
  <div class="wrap">
    <div class="search">
      <input type="text" class="searchTerm" placeholder="search.....">
      <button type="submit" class="searchButton">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
 
  <div class="music-player">

    <div class="player">
      <h3 id="title">Nangangamba</h3>
      <div class="slidecontainer">
        <input type="range" min="0" max="200" class="slider">
      </div>
      <div class="controls">
        <button class="previous" id="previous"><i class="bi bi-skip-end"></i></button>
        <button class="play-pause" id="play-pause"><i class="bi bi-play-fill"></i></button>
        <button class="next" id="next"><i class="bi bi-skip-start"></i></button>
      </div>
    </div>
  </div>
  <table>

    <tr>
      <th></th>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Duration</th>
    </tr>
    <tr>
      <td><i class="bi bi-play-fill"></i></td>
      <td>Nangangamba</td>
      <td>Zack Tabudlo</td>
      <td>Nangangamba</td>
      <td>3:41</td>
    </tr>
    <tr>
      <td><i class="bi bi-play-fill"></i></td>
      <td>Gravity</td>
      <td>John Mayer</td>
      <td>Try!</td>
      <td>4:08</td>
    </tr>
    <tr>
      <td><i class="bi bi-play-fill"></i></td>
      <td>Spoliarium</td>
      <td>Eraserheads</td>
      <td>Stick Happy</td>
      <td>5:33</td>
    </tr>
  </table>
</div>
</div>
</template>

<script>
export default {
    name:'music',
    setup() {
        
    },
}
</script>

<style scoped>
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
table,th,td{
    width: 700px;
    margin: auto;
    font-size: 12px;
    padding: 10;
    text-align: left;
    border: 1px solid #000;
    color: white;
    height: 60px;
}
    
    .search {
        width: 100%;
        position: relative;
        display: flex;
      }
      
      .searchTerm {
        width: 100%;
        border-right: none;
        padding: 5px;
        height: 38px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
      }
      
      .searchTerm:focus{
        color: #000000;
      }
      
      .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #0d0f0f;
        background: #1C2E6B;
        text-align: center;
        color: white;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
      }
      
      .wrap{
        width: 20%;
        position: absolute;
        top: 10%;
        left: 40%;
        transform: translate(-50%, -50%);
      }
      .wrapper{
        width: 30%;
        position: absolute;
        top: 115%;
        left: 65%;
        transform: translate(-50%, -50%);
      }
    

table{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-35%, -60%);
    border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

    
}
td{
    background-color: #4569AC;
}
th{
    background-color: #1C2E6B;
}
.mark{

    width: 25%;
    background-color: #1C2E6B;

}
.asoy{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    background: #021249;
}
.mark a{
     text-decoration: none;
     color: #fff;
     display: list-item;
     letter-spacing: 1px;
     font-family: "Roboto", sans-serif;
}
body {
    background-color: #021249;
    width: 100%;
    height: 100%;
    position: fixed;


}
.mark a:hover{
    background-color: #4569AC;
    transition: 0.5s;
    text-transform: uppercase;
}
.modal-header {
    background: #1C2E6B;
    color: #fff;
  }
  
  .required:after {
    content: "*";
    color: rgb(255, 255, 255);
  }
  #create{
    color: #fff;
    background: #021249;
    border: black;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px 15px;
  }
  #cancel{
    color: black;
    background: #fff;
    border: #fff;
    margin-bottom: 20px;
    margin-right: 12px;
    padding: 10px 15px;
  }
  .modal-footer{
    background: #4569AC;
    border: #211d1e;
  }
  .modal-body{
    background: #4569AC;
  }
  #btnopen{
    background: transparent;
    color: white;
    border:#fff;
  }
  .music-player{
      display: flex;
      flex-direction: row;
      max-height: 400px;
      width: 600px;
  }
.player{
    background: #021249;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    top: 50%;  
    left: 50%; 
    transform: translate(-5%, 55%);
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.controls > button > i{
    font-size: 30px;
    color: white;
}
.controls > button {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    padding: 10px;
}
.play-pause {
    font-size: 30px !important;
}
#uploading{
  background: white;
  color: gray;
  width: 470px;
  height: 110px;
  text-align: center;
  padding-top: 40px;
}
.modal{
    margin-top: 70px;
    margin-left: 390px;
}
.mb-3{
    width: 50px;
   height: 120px;
}
#uploading{
    height: 90px;
    margin-top: 30px;
    margin-left: 14px;
}
.form-control{
    height: 6vh;
    width: 57vh;
    margin-top: 25px;
    margin-left: 70px;
}
.modal-body2{
    background: #4569AC;
    height: 90px;
  }

</style>
