<template>
  <div id="app">
   <music/>
  </div>
</template>

<script>
import music from './components/music.vue';

export default {
  name: 'App',
  components: {
    music
  }
}
</script>

<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
