*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
table,th,td{
    width: 700px;
    margin: auto;
    font-size: 12px;
    padding: 10;
    text-align: left;
    border: 1px solid #000;
    color: white;
    height: 60px;
}
    
    .search {
        width: 100%;
        position: relative;
        display: flex;
      }
      
      .searchTerm {
        width: 100%;
        border-right: none;
        padding: 5px;
        height: 38px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
      }
      
      .searchTerm:focus{
        color: #000000;
      }
      
      .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #0d0f0f;
        background: #1C2E6B;
        text-align: center;
        color: white;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
      }
      
      .wrap{
        width: 20%;
        position: absolute;
        top: 10%;
        left: 40%;
        transform: translate(-50%, -50%);
      }
      .wrapper{
        width: 30%;
        position: absolute;
        top: 115%;
        left: 65%;
        transform: translate(-50%, -50%);
      }
    

table{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-35%, -60%);
    border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

    
}
td{
    background-color: #4569AC;
}
th{
    background-color: #1C2E6B;
}
.mark{

    width: 25%;
    background-color: #1C2E6B;

}
.asoy{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}
.mark a{
     text-decoration: none;
     color: #fff;
     display: list-item;
     letter-spacing: 1px;
     font-family: "Roboto", sans-serif;
}
body {
    background-color: #021249;
    width: 100%;
    height: 100%;
    position: fixed;


}
.mark a:hover{
    background-color: #4569AC;
    transition: 0.5s;
    text-transform: uppercase;
}
.modal-header {
    background: #1C2E6B;
    color: #fff;
  }
  
  .required:after {
    content: "*";
    color: rgb(255, 255, 255);
  }
  #create{
    color: #fff;
    background: #021249;
    border: black;
  }
  #cancel{
    color: black;
    background: #fff;
    border: #fff;
  }
  .modal-footer{
    background: #4569AC;
    border: #211d1e;
  }
  .modal-body{
    background: #4569AC;
  }
  #btnopen{
    background: transparent;
    color: white;
    border:#fff;
  }
  .music-player{
      display: flex;
      flex-direction: row;
      max-height: 400px;
      width: 600px;
  }
.player{
    background: #021249;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    top: 50%;  
    left: 50%; 
    transform: translate(-5%, 55%);
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.controls > button > i{
    font-size: 30px;
    color: white;
}
.controls > button {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    padding: 10px;
}
.play-pause {
    font-size: 30px !important;
}
#uploading{
  background: white;
  color: gray;
  width: 470px;
  height: 110px;
  text-align: center;
  padding-top: 40px;
}