
h1 {
    
    color: white;
    font-size: 90px;
        position: relative; 
       top: 15px;
       left: 870px;
   }
   p { 
        position: relative; 
       left: -10px;
 
}
h2 {
    
    color: white;
    font-size: 30px;
        position: relative; 
       top: 15px;
       left: 900px;
   }
   p { 
        position: relative; 
       left: -10px;
}
.btn {
    
      background-color: red;
        position: relative; 
       top: 15px;
       left: 950px;
   }
   p { 
        position: relative; 
       left: -10px;
}

.navbar {
    opacity: 0.8;
    position: relative; 
       top: 140px;

}
.navbar .container .collapse a:hover{
    background-color: red;
   


}
     
